/* header, footer {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}

header a {
    padding: 1em 2em;
    text-decoration: none;
    color: #333;
}

header a:hover {
    color: #666;
}

header a.active {
    font-weight: bold;
}

header div {
    display: flex;
}

header div:last-child {
    flex-direction: column-reverse;
    padding: 1em 2em;
} */
.nav-link:hover {
    font-weight: 700;
}

h1 {
    font-weight: 700;
    font-size: 60px;
} 

body {
    margin: 0;
}   
#root {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    position: relative;
}

#root > * {
    width: 100%;
}

footer {
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

