.appComment .blog-body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.appComment .hidden{
    display: none;
}

.appComment .present{
    display:flexbox;
    padding: 5px;
}

.appComment .form-input {
    width: 100%;
}