h1 {
    font-weight: 700;
    font-size: 60px;
} 

body {
    font-family: 'Trebuchet MS', sans-serif;
}

.info-input {
    margin-left: 25%;
    width: 50%;
    height: 2rem;
    border: 0.5rem, solid;
    border-radius: 4px;
    font-size: 1.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.info-label {
    color: whitesmoke;
    margin-left: 25%;
    font-weight: 550;
    line-height: 2rem;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

#radio1-label1 {
    margin-left: 0%;
    line-height: 1.9rem;
}

#radio1-label2 {
    margin-left: 0%;
    line-height: 1.9rem;
}

.blue-button {
    margin: 1rem;
    margin-left: 25%;
    background-color: #0d6efd;
    color: white;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    font-size: 1.5rem;
}

#search-bar{
    border-radius: 0.5rem;
    width: 100%
}

#search-btn{
    background-color: black;
    border-radius: 0.1rem;
    margin-right: 1rem;
    color: whitesmoke;
}

.FCL{
    margin-left: 0.5rem;
    margin-right: 2rem;
    font-size: 1.5rem;
}

.FCI{
    height: 1.5rem;
    width: 1.5rem;
}

.no-underline{
    text-decoration: none;
}

.unselected-sort{
    margin-left: 2rem;
    margin-right: 2rem;
    size: fit-content;
    font-size: larger;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10%;
}

.selected-sort{
    margin-left: 2rem;
    margin-right: 2rem;
    size: fit-content;
    font-size: larger;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10%;
    background-color: black;
    color: aliceblue;
}

.pet-profile-search{
    background-color: blue;
    max-width: 50%;
    margin: auto;
    border-radius: 10%;
}

.pet-profile-img-search{
    width: 100%;
    max-width: 15rem;
    height: auto;
}

.pet-detail-list {
    font-size: 20px;
}

.sub-header {
    font-weight: 700;
}

.nav-link:hover {
    font-weight: 700;
}

.link-to-page {
    font-size: 25px;
    text-decoration: underline;
}

.rounded-text-block {
    border-radius: 10px;
}

.pet-detail-img {
    height: 400px;
    object-fit: cover;
    max-width: 90vw;
}

.pet-adoption-img {
    height: 300px;
    object-fit: cover;
    max-width: 90vw;
}

.notification-header {
    text-decoration: underline;
    font-weight: 700;
}


/* for application page conversation  */

.card{
    max-width: 700px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    max-width: 700px;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}


/* for shelter reviews */

.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}
.review-list ul li .left span img {
    border-radius: 50%;
}
.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}
.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}
.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}
.country .country-flag {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin: 0 7px 0 0px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.country .country-name {
    color: #95979d;
    font-size: 13px;
    font-weight: 600;
}
.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}
.review-list ul li .right {
    flex: auto;
}
.review-list ul li .review-description {
    margin: 20px 0 0;
}
.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}
.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

.review-section h4 {
    font-size: 20px;
    color: #222325;
    font-weight: 700;
}
.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #4a73e8;
    text-align: left;
}
.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #efeff0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
   ;
    border-radius: 999px;
}
.review-section .stars-counters tr .star-progress-bar .progress-fill {
    background-color: #ffb33e;
}
.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}
.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}
.review-section .stars-counters td {
    white-space: nowrap;
}
.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}
.ranking h6 {
    font-weight: 600;
    padding-bottom: 16px;
}
.ranking li {
    display: flex;
    justify-content: space-between;
    color: #95979d;
    padding-bottom: 8px;
}
.review-section .stars-counters td.star-num {
    color: #4a73e8;
}
.ranking li>span {
    color: #62646a;
    white-space: nowrap;
    margin-left: 12px;
}
.review-section {
    border-bottom: 1px solid #dadbdd;
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 64px;
}
.review-section select, .review-section .select2-container {
    width: 188px !important;
    border-radius: 3px;
}
ul, ul li {
   list-style: none;
   margin: 0px;
}
.review-description{
    font-size:medium;
}
#publish{
    color: #000000;
}
#reply{
    margin: 5px;
}

.card-body{
    align-items: center;
    justify-content: center;
}