.ShelterComment .blog-body {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ShelterComment .hidden{
    display: none;
}

.ShelterComment .present{
    display:flexbox;
    padding: 5px;
}