.UpdateProfile .hidden{
    display: none;
}

.UpdateProfile .present{
    display:flexbox;
    padding: 5px;
}
.UpdateProfile  .h5{
    padding:5%;
}
.UpdateProfile p{
    color:red;
}
.UpdateProfile img{
    width: 100%;
    height:100%;
}