.CurrProfile .hidden{
    display: none;
}

.CurrProfile .present{
    display:flexbox;
    padding: 5px;
}
.CurrProfile .h5{
    padding:5%;
}
.CurrProfile p{
    color:red;
}
.CurrProfile img{
    width: 100%;
    height:100%;
}