.outsideProf .hidden{
    display: none;
}

.outsideProf .present{
    display:flexbox;
    padding: 5px;
}
.outsideProf .h5{
    padding:5%;
}
.outsideProf p{
    color:red;
}
.outsideProf img{
    width: 100%;
    height:100%;
}